appdirs==1.4.4
cachelib==0.2.0
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pipenv==2021.5.29
psycopg2-binary==2.9.1
six==1.16.0
SQLAlchemy==1.4.20
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==2.0.1
