.grid {
    width: 305px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    border: solid #5ccfe6;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #171c28;
}

.grid div {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: #ffd580;
}

.btn {
    margin: 20px;
}

.apple {
    background-image: url(/static/snake/apple.png);
}

span {
    color: #5ccfe6;
}

#controls {
    display: none;
}

@media (pointer: coarse) and (hover: none) {
    #controls {
        display: flex;
        width: 270px;
        height: 270px;
        margin: auto;
        flex-wrap: wrap;
    }
    
    .divs {
        height: 90px;
        width: 90px;
    }
    
    .empty {
        visibility: hidden;
    }
    
    .buttons {
        cursor: pointer;
    }

    #up {
        transform: rotate(270deg);
    }

    #left {
        transform: rotate(180deg);
    }

    #down {
        transform: rotate(90deg);
    }

    .images {
        width: 100%;
        height: 100%;
    }
}