.grid {
    width: 305px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    border: solid #5ccfe6;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 20px;
}

.grid div {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: #ffd580;
}

.btn {
    margin: 5px;
}

h1 {
    margin: 5px;
    padding: 0px;
}

.apple {
    background-color: red;
}

span {
    color: #5ccfe6;
}

#controls {
    display: none;
}

@media (pointer: coarse) and (hover: none) {
    #controls {
        display: flex;
        width: 150px;
        height: 150px;
        margin: auto;
        flex-wrap: wrap;
    }
    
    .buttons {
        height: 50px;
        width: 50px;
        background: #5ccfe6;
        cursor: pointer;
    }

    .empty {
        visibility: hidden;
    }
}