.bg-custom {
    background-color: #171c28;
}
nav .navbar-brand {
    font-size: 27px;
}
nav .orange {
    color: #e37c3d;
}
nav .blue {
    color: #5ccfe6;
}
nav .navbar-toggler {
    margin-right: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffd580;
}
body {
    background-color: #1d2433;
}