html {
    position: relative;
    min-height: 100%;
    overflow: auto;
    padding: 0;
    background-color: #1d2433;
}

.bg-custom {
    background-color: #171c28;
}

nav .navbar-brand {
    font-size: 27px;
}

nav .blue {
    color: #5ccfe6;
    margin-left: 5px;
}

nav .yellow {
    color: #ffd580;
}

nav .navbar-toggler {
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffd580e5;
    margin-left: 7px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:visited,
.navbar-dark .navbar-nav .nav-link:active {
    text-shadow: 0 0 2px #ffd580;
    color: #ffd580d0;
}

nav img {
    height: 25px;
    width: 45px;
    margin-bottom: 6px;
}

#brand:hover {
    -webkit-filter: drop-shadow(0 0 4px #bbc1c538);
    filter: drop-shadow(0 0 4px #bbc1c538);
    text-shadow: 0 0 4px #ffd58038;
}

body {
    background-color: #1d2433;
    font-family: 'Source Code Pro', monospace !important;
}

main {
    color: #ffd580;
    min-height: 100%;
    overflow: auto;
    text-align: center;
    margin-bottom: 50fpx;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-top: 10px;
}

footer a {
    color: #ffd58091;
}

footer a:hover {
    text-shadow: 0 0 2px #ffd58091;
    color: #ffd58091;
    text-decoration: none;
}

.form-control:focus {
    border-color: #5ccfe6;
    box-shadow: 0 0 10px #5ccfe6;
    outline: 0 none;
}

.form-control {
    background-color: #00000000 !important;
    width: auto;
    display: inline-block;
    color: #ffd580 !important;
    border-color: #5ccfe6;
}

.btn {
    margin: 30px;
    background-color: #ffd580d0;
    color: #ffffff;
    border: none;
}

.btn:hover, .btn:active, .btn:visited {
    background-color: #ffd580;
    color: #ffffff;
    border: none;
    box-shadow: 0 0 10px #ffd580;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5ccfe681;
    opacity: 1; /* Firefox */
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5ccfe681;
}
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #5ccfe681;
}

h1 {
    padding-bottom: 30px;
}

.bug {
    width: 100%;
    height: 200px !important;
}

::selection {
    background-color: #5ccfe681;
    color: #ffd580;
}

::-moz-selection { /* Code for Firefox */
    background-color: #5ccfe681;
    color: #ffd580;
  }