{% extends "layout.html" %}

{% block title %}
    : Change password
{% endblock %}

{% block head %}
    <script src="/static/register.js"></script>
{% endblock %}

{% block main %}

<h2>Change password</h2>
<form action="/change-password" method="post">
    <div class="form-group">
        <input class="form-control current-password" type="password" autocomplete="off" autofocus name="current-password" placeholder="Current Password" required>
    </div>
    <div class="form-group password-div">
        <input class="form-control password" type="password" autocomplete="off" name="new-password" placeholder="New password" required minlength="6">
    </div>
    <div class="form-group password-confirm-div">
        <input class="form-control passwordConfirm" type="password" autocomplete="off" name="confirmation" placeholder="Confirm New Password" required minlength="6">
        <p id="{{ID}}">{{message}}</p>
    </div>
    <div>
        <button class="btn" type="submit">Change password</button>
    </div>
</form>
{% endblock %}