{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/connect-four/connect-four.css">
    <script src="/static/connect-four/connect-four.js"></script>
{% endblock %}

{% block title %}
    : Connect Four
{% endblock %}

{% block gameTitle %}
    Connect Four
{% endblock %}

{% block main %}
    <h3>Playing: <span id="color">Player <span id="playing">1</span></span></h3>

    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="taken"></div>
        <div class="taken"></div>
        <div class="taken"></div>
        <div class="taken"></div>
        <div class="taken"></div>
        <div class="taken"></div>
        <div class="taken"></div>      
    </div>
{% endblock %}