{% extends "layout.html" %}

{% block title %}
    : Log In
{% endblock %}

{% block main %}
    <h1>Log In</h1>
    <form action="/login" method="post">
        <div class="form-group">
            <input class="form-control" type="text" autofocus name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button class="btn" type="submit">Login</button>
        </div>
    </form>
{% endblock %}