{% extends "layout.html" %}

{% block title %}
    : Log In
{% endblock %}

{% block main %}
<h2>Log in</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <input class="form-control" type="text" autofocus name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control passwordConfirm" type="password" name="password" placeholder="Password">
            <p>{{message}}</p>
        </div>
        <div>
            <button class="btn" type="submit">Login</button>
        </div>
    </form>

    <div id="div-register">
        <a id="register" href="/register">Don't have account? Sign up here!</a>
    </div>
{% endblock %}