{% extends "layout.html" %}

{% block game %}
    <link rel="stylesheet" href="/static/memory-game/memory-game.css">
    <script src="/static/memory-game/memory-game.js"></script>
{% endblock %}

{% block title %}
    : Memory Game
{% endblock %}


{% block main %}
    <h1>Score: </h1>
    <div>
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
    </div>
    <div>
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
    </div>
    <div>
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
        <img class="images" src="/static/memory-game/images/blank.svg" alt="blank card">
    </div>

{% endblock %}