{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/snake/snake.css">
    <script src="/static/snake/snake.js"></script>
{% endblock %}

{% block title %}
    : Snake
{% endblock %}

{% block gameTitle %}
    Snake
{% endblock %}

{% block main %}
    <button class="start btn">Start</button>
    <button class="pause btn">Pause</button>
    <h3 class="score">Score:<span>0</span></h3>

    <div class="grid">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
    </div>
    
    <div id="controls">
        <div class="divs empty"></div>
        <div class="divs buttons" id="up">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="left">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="right">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="down">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
    </div>

    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Rank:</th>
                    <th>Player:</th>
                    <th>Score:</th>
                </tr>
            </thead>
            <tbody>
                {% for row in leaderboard %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[0] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}