{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/snake/snake.css">
    <script src="/static/snake/snake.js"></script>
{% endblock %}

{% block title %}
    : Snake
{% endblock %}

{% block main %}
    <h1>Snake</h1>
    <button class="start btn">Start</button>
    <button class="pause btn">Pause</button>
    <h3 class="score">Score:<span>0</span></h3>

    <div class="grid">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
    </div>

    <!--TODO: show only on small screens
    or maybe on touch screens if possible and design-->
    <div id="controls">
        <div class="buttons"></div>
        <div class="buttons">
            <div id="up">&#8593</div>
        </div>
        <div class="buttons"></div>
        <div class="buttons">
            <div id="left">&#8592</div>
        </div>
        <div class="buttons">
        </div>
        <div class="buttons">
            <div id="right">&#8594</div>
        </div>
        <div class="buttons"></div>
        <div class="buttons">
            <div id="down">&#8595</div>
        </div>
        <div class="buttons"></div>
    </div>
        {% endblock %}