{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/tetris/tetris.css">
    <script src="/static/tetris/tetris.js"></script>
{% endblock %}

{% block title %}
: Tetris
{% endblock %}

{% block gameTitle %}
    Tetris
{% endblock %}

{% block main %}
    <button autofocus class="btn" id="start">Start</button>
    <h3>Score: <span id="score">0</span></h3>

    <div class="previous-shape">
        <div class="previous-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    
    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
        <div class="block3"></div>
    </div>
    
    <div class="how-to-play">
        <h4>Controls:</h4>
        <img class="controls" src="/static/arrow_keys.png">
    </div>

    <div id="controls">
        <div class="divs empty"></div>
        <div class="divs buttons" id="up">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="left">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="right">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
        <div class="divs buttons" id="down">
            <img class="images" src="/static/controls.svg">
        </div>
        <div class="divs empty"></div>
    </div>

    <div id="table">
        <table>
            <thead>
                <tr>
                    <th id="left-table-corner">Rank:</th>
                    <th>Player:</th>
                    <th id="right-table-corner">Score:</th>
                </tr>
            </thead>
            <tbody>
                {% for row in leaderboard %}
                    {% if row[2] == user_id %}
                        <tr id="current-user">
                            <td>{{ loop.index }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[0] }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[0] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {% for row in currentUser %}
                    <tr id="current-user">
                        <td id="left-table-corner">You</td>
                        <td>{{ row[1] }}</td>
                        <td id="right-table-corner">{{ row[0] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}