span {
    color: #5ccfe6;
}

.grid {
    display: table;
    margin: auto;
}

.row {
    display: table-row;
}

.square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #5ccfe6;
    display: table-cell;
}

.mole {

    background-image: url(/static/whac-a-mole/mole.png);
    background-size: cover;
}

.btn {
    margin-top: 50px;
}

.swal-modal {
    background-color: #171c28;
}

.swal-title {
    color: #ffd580;
}

.swal-button {
    background-color: #5ccfe6;
}

.swal-button:hover {
    background-color: #5ccfe6 !important;
    box-shadow: 0 0 10px #5ccfe6;
}

.swal-text {
    color: #5ccfe6;
}