.grid {
    border: 1px solid #5ccfe6;
    display: flex;
    flex-wrap: wrap;
    height: 399px;
    width: 299px;
    margin: auto;
    margin-bottom: 50px;
}

.grid div {
    height: 33px;
    width: 33px;
}

.end {
    background-color: red;
}

.start {
    background-color: blue;
}


span {
    color: #5ccfe6;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: grey;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.frog {
    background-color: green;
}

#controls {
    display: none;
}

@media (pointer: coarse) and (hover: none) {
    #controls {
        display: flex;
        width: 270px;
        height: 270px;
        margin: auto;
        flex-wrap: wrap;
    }
    
    .divs {
        height: 90px;
        width: 90px;
    }
    
    .empty {
        visibility: hidden;
    }
    
    .buttons {
        cursor: pointer;
    }

    #up {
        transform: rotate(270deg);
    }

    #left {
        transform: rotate(180deg);
    }

    #down {
        transform: rotate(90deg);
    }

    .images {
        width: 100%;
        height: 100%;
    }
}