.grid {
    margin: auto;
    border: 2px solid #5ccfe6;
    height: 255px;
    width: 298px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
  

.player-one {
    background-color: #ffd580;
    border-radius: 10px;
}

.player-two {
    background-color: #5ccfe6;
    border-radius: 10px;
}

.grid div {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

h3 {
    color: #ffffff;
}

#color {
    color: #ffd580;
}

.invinsible {
    visibility: hidden;
}